* {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #161b22;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}